#skills-container{
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.skills-section-one{
    width: fit-content;
    padding-left: 50px;
    height: 35vh;
    display: flex;
    /* align-items: flex-end; */
    justify-content: flex-end;
    flex-direction: column;
    margin-bottom: 120px;
}

.skills-section-one h1{
    font-size: 8vw;
    margin-bottom: 10px;
}

.skills-section-two{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.skills-section-two h2{
    margin-bottom: 10px;
    font-size: 2vw;
}

.skill-list{
    height: 25vh;
    width: 32vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.img-lang{
    /* border: 1px solid white; */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* .skills-section-two .skill-one{
    display: flex;
    flex-direction: column;
} */

.skills-section-two img{
    width: 6vw;
    margin-right: 20px;
}
@media screen and (max-width:768px) {
    .skills-section-two{
        display: flex;
        width: 100%;
        align-items: center;
        /* flex-direction: column; */
        justify-content: space-around;
    }
}





@media screen and (max-width:470px){


    .skills-section-one{
        justify-content: flex-end;
        padding: 0;
        height: 30vh;
        align-items: center;
        text-align: center;
        margin-bottom: 60px;
        width: 100%;
    }

    .skills-section-one h1{
        font-size: 13vw;
    }


    .skills-section-one h3{
        margin-bottom: 10px;
        display: none;
    }

    .skills-section-two{
        display: flex;
        width: 100%;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
    }

    .skills-section-two h2{
        font-size: 6vw;
        height: 29px;
    }

    .skill-list{
        width: 100%;
        height: 17vh;
        margin-bottom: 20px;
    }

}
